<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - Projet Béber</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> {# framework CSS3 w3school doc : http://www.w3schools.com/w3css/default.asp #}
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}"> {# fichier css présent ds web/css/custom.css #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"> {# icones http://fontawesome.io/icons/ #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

            <nav class="w3-sidenav w3-white w3-card-2 w3-animate-left" style="display:none" id="mySidenav">
                <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-text-theme">Close
                    <i class="fa fa-remove"></i>
                </a>
                <a href="javascript:void(0)">Link 1</a>
                <a href="javascript:void(0)">Link 2</a>
                <a href="javascript:void(0)">Link 3</a>
                <a href="javascript:void(0)">Link 4</a>
                <a href="javascript:void(0)">Link 5</a>
            </nav>

            <!-- Header -->
            <header class="w3-container w3-theme w3-padding" id="myHeader">
                <i onclick="w3_open()" class="fa fa-bars w3-opennav"></i>
                <div class="w3-center">
                    <h1 class="w3-xxxlarge">Béber header</h1>
                </div>
            </header>
            {% block body %}


        {% endblock %}
        {% block javascripts %}
        {% endblock %}
        <script>
            function w3_open() {
                var x = document.getElementById("mySidenav");
                x.style.width = "15%";
                x.style.textAlign = "center";
                x.style.fontSize = "15px";
                x.style.paddingTop = "15px";
                x.style.display = "block";
            }
            function w3_close() {
                document.getElementById("mySidenav").style.display = "none";
            }

        </script>
    </body>
</html>
